.about{
  margin: 32px 31px 47px 200px;
  /* justify-content: center; */
}


/* body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	background: #f7f7f7;
} */
span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: center;
	align-items: flex-start;
  
  	
	@media(max-width: 600px){ transform: scale(.65); }
}
.letter{
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}


.serve{
  margin:   15px 94px 10px 560px;
}


.section{ 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
}

.section-left{
  flex-direction: row-reverse;
}

.paras{
  padding: 0px 65px;
}

.sectionTag{
  padding: 16px 0;
}

.sectionSubTag{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
  width: 250px;
  border: 2px solid black;
  border-radius: 26px;
  margin-top: 19px;
}






#serve{
    margin: 34px;
    display: flex;
}
#serve .box{
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 12px;
    border-radius: 23px;
    background-color: cornsilk;
}
.secondary{
    text-align: center;
    font-size: 20px;
    padding: 12px;
}
.para{
    text-align: center;
}






  /* ////////////////\\\\\\\\\\\\\\\\\ */

  .how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
    
}
.how-img img{
    width: 75%;
    
}